body {
  background-color: rgba(34, 34, 32, 0.621);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.strike {
  text-decoration: line-through;
}

.input {
  width: 35vw;
  outline-style: none;
}

.btn {
  border-radius: 5px;
  height: 60px;
  width: 80px;
}
